<form action="parser" enctype="multipart/form-data" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <fieldset>
    <legend>Title</legend>
    <input type="file" id="csv">
    <input type="submit" name="Enviar">
  </fieldset>
</form>

<ul id="results" class="list-group list-group-horizontal"></ul>
<div class="row">
  <div class="col pt-1">
    <button class="btn btn-primary btn-lg"
            data-controller="disable-button"
            data-action="click->disable-button#disable">
      Click me!
    </button>
  </div>
</div>
